<!DOCTYPE HTML>
<!--
	Typify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>

<head>
    <title>codePannu - Free Python online course for students</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css" />
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
</head>

<body>

    <!-- #header -->
    <header id="header" class="header header-hide">
        <div class="container">
            <div id="logo" class="pull-left">
                <h1><a href="/" class="scrollto"><span>codePannu</span></a></h1>
            </div>
            <div style="float:right; padding:5px; font-size:30px">
                <a href="/"><i class="fa fa-home"></i></a></div>
        </div>
    </header><!-- #header -->




    <!-- Quote -->
    <section id="banner-quote">
        <h3>Easy and Fun coding for school students</h3>
    </section>


    <section id="two" class="wrapper style2 special">
        <div class="inner narrow">
            <header>
                <h2>Assignment</h2>
            </header>
            <form class="grid-form" id='assignment-details'>
                <div class="form-control narrow">
                    <label for="name">Name</label>
                    <label><%= data.name %></label>
                </div>
                <div class="form-control narrow">
                    <label for="email">Email</label>
                    <label><%= data.email %></label>
                    <!-- <input name="email" id="email" type="email" placeholder='Your Email'> -->
                </div>
                <div class="form-control narrow">
                    <label for="level">Level</label>
                    <label><%= data.level %></label>
                </div>
                <div class="form-control narrow">
                    <label for="day">Day</label>
                    <label><%= data.day %></label>
                </div>
                <div class="form-control narrow">
                    <label>Code for exercise 1</label><br>
                </div>
                <div class="form-control narrow">
                    <a href="#" onClick='copyCode()'>
                        <i class="material-icons">content_copy</i>
                    </a>
                </div>
                <div class="form-control">
                    <label for='answer1'><%= data.answer1 %></label><br>
                </div>
                <div class="form-control">
                    <input type="checkbox" name="corrected">
                    <label for="corrected">Correct answer</label>
                </div>
                <div class="form-control narrow">
                    <label>Code for exercise 2</label><br>
                </div>
                <div class="form-control narrow">
                    <a href="#" onClick='copyCode()'>
                        <i class="material-icons">content_copy</i>
                    </a>
                </div>
                <div class="form-control">
                    <label><%= data.answer2 %></label><br>
                </div>
                <div class="form-control narrow">
                    <label>Code for exercise 1</label><br>
                </div>
                <div class="form-control narrow">
                    <a href="#" onClick='copyCode()'>
                        <i class="material-icons">content_copy</i>
                    </a>
                </div>
                <div class="form-control">
                    <label><%= data.answer3 %></label><br>
                </div>
                <ul class="actions">
                    <li><input value="Correction Done" type="submit" onClick='assignmentCorrected()'></li>
                </ul>
            </form>
        </div>
    </section>

    <!-- Footer -->
    <footer id="footer">
        <div class="copyright">
            &copy; codePannu. Design: <a href="http://templated.co/">TEMPLATED</a>.
        </div>
    </footer>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>
    <script language="javascript" type="text/javascript">

        function copyCode() {
            $("#copyContent").click(function (e) {
                // this.disabled = true
                // //prevent Default functionality
                // e.preventDefault();
                var copyText = $("label[for='answer1']").text();
                console.log(copyText)
                /* Select the text field */
                copyText.select();
                copyText.setSelectionRange(0, 99999); /*For mobile devices*/

                /* Copy the text inside the text field */
                document.execCommand("copy");

                /* Alert the copied text */
                alert("Copied the text: " + copyText.value);
            })
        }




        function assignmentCorrected() {
            console.log('function evoked')

            //hang on event of form with id=myform
            $("#assignment-details").submit(function (e) {
                this.disabled = true
                //prevent Default functionality
                e.preventDefault();

                //do your own request an handle the results
                $.ajax({
                    url: '/assignments',
                    type: 'post',
                    dataType: 'application/json',
                    data: $("#assignment-details").serialize(),
                    success: function (data) {
                        console.log(data)
                    }
                });
                alert('You assignment has been submitted successfully');
                document.getElementById('name').value = ''
                document.getElementById('email').value = ''
                document.getElementById('level').value = ''
                document.getElementById('day').value = ''
                document.getElementById('answer1').value = ''
                document.getElementById('answer2').value = ''
                document.getElementById('answer3').value = ''
            });
        }
    </script>


</body>

</html>